// global colors
$color-grey: #5b5b5b;
$color-light-grey: #ece9e9;
$color-blue: #2b0cb3;
$color-red: #d2211a;
$color-green: #06a131;
$color-white: #fff;
$color-white-1: #fcfcfc;
$color-black: #000;
$color-aquamarine: #21b3c1;
$color-aquamarine-1: #237e86;
$color-aquamarine-2: #94e5ec;
