@import '@/assets/variables-colors';
@import '@/assets/variables';
@import '@/assets/mixins';

.button {
  width: 100%;
  height: 40px;
  margin-top: 20px;

  cursor: pointer;

  color: $color-white;
  border: none;
  border-radius: 4px;
  background-color: $color-aquamarine;

  font-weight: $fw-800;
  font-style: $fs-12;

  @include hover('background-color', $color-aquamarine-1);
}

.disabled {
  cursor: default;

  background-color: $color-grey;

  &:hover {
    background-color: $color-grey;
  }
}
