@import '@/assets/mixins';

.form {
  display: flex;
  flex-direction: column;

  width: 100%;

  max-width: 500px;
  height: 100%;
  margin: auto;
  padding: 50px 0;
  gap: 10px;
}

.wrapper {
  @include flex-between;
}

.ticket-field {
  width: 100px;
}

.error-message {
  @include error-message;
}

.date-wrapper {
  gap: 10px;

  @include flex-center;
}
